@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

:root {
  --primary-500: silver;
  --secondary-500: orange;
}

.dark {
  --primary-500: rgb(120, 120, 120);
  --seconday-500: red;
}
